@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --color-home: #ff5064;
  --color-athletes-frontend: #ffe733;
  --color-athletes-data: #bea37c;
  --color-session: #ffc076;
  --color-about: #58faff;
  --color-discover: #ff83ff;

  --ff-body: 'Poppins', sans-serif;
  --ff-title: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-body);
  font-size: 1.25rem;
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

.section {
  padding: 6em 0;
  text-align: center;
  margin-inline: auto;

  h1 {
    font-size: 3.5rem;
    text-decoration: underline;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

// .section-main {
// }

.section-single {
  text-align: left;
}

// .section-athletes {
// }

.container {
  width: 95%;
  max-width: 1500px;
  margin-inline: auto;
}

.container-main {
  max-width: 900px;
  margin-bottom: 50px;
}

.container-grid {
  display: grid;
}

.container-flex {
  display: flex;
}

.container-athlete {
  flex-direction: column;
  > * + * {
    margin-top: 50px;
  }
}

@media (min-width: 600px) {
  .container-athlete {
    flex-direction: row;
    > * {
      flex: 100% 1 1;
    }

    > * + * {
      margin-top: 0;
      margin-left: 50px;
    }
  }
}

.container-athletes {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
}

.container-athlete {
  margin-bottom: 50px;
}

.athlete-details {
  font-size: 2rem;
  margin-top: 30px;
}

.container-header {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1em;
}

.center {
  margin-inline: auto;
  text-align: center;
}

.card {
  margin-inline: auto;
}

.header {
  font-weight: 700;
  font-size: 1.825rem;
  text-transform: uppercase;

  &.home,
  &.login {
    background-color: var(--color-home);

    .main-navigation {
      background-color: var(--color-home);
    }
  }

  &.athletes {
    background-color: var(--color-athletes-frontend);

    .main-navigation {
      background-color: var(--color-athletes-frontend);
    }
  }

  &.about {
    background-color: var(--color-about);

    .main-navigation {
      background-color: var(--color-about);
    }
  }

  &.discover {
    background-color: var(--color-discover);

    .main-navigation {
      background-color: var(--color-discover);
    }
  }
}

.logo {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
}

.main-navigation {
  transform: translate(100vw);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  transition: transform 0.5s linear;
  display: grid;
  grid-template-rows: 1fr 2em;
  align-items: center;
  justify-content: center;
  padding: 5em;

  &.open {
    transform: translate(0);
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;

  li {
    position: relative;
    margin-top: 0.1em;
    margin-bottom: -0.3em;

    &::after {
      content: '';
      position: absolute;
      transform: scale(0);
      top: 1.3em;
      left: -10%;
      width: 120%;
      height: 0.3em;
      background-color: white;
      transition: all 0.3s linear;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: #000;
      padding-bottom: 0;
      border-bottom: 0.3em solid transparent;
      transition: color 0.3s linear;
      position: relative;
    }

    &:hover a,
    &.active a {
      color: #fff;
    }

    &:hover::after,
    &.active::after {
      transform: scale(1);
    }
  }
}

// nav menu button
.menu-btn {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
  justify-self: end;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 3rem;
  height: 0.3rem;
  background-color: #111111;
  transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
  content: '';
  position: absolute;
}

.menu-btn__lines::before {
  transform: translateY(-1rem);
}

.menu-btn__lines::after {
  transform: translateY(1rem);
}

// animation
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #111;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #111;
}

.menu-btn.open .main-navigation {
  transform: translate(0);
}

.btn {
  font-size: 1.5rem;
  padding: 0.3em 1.2em;
  outline: 0.2em solid #000;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn-support {
  color: #000;

  &:hover {
    color: #fff;
    outline: 0.2em solid #fff;
  }
}

.btn-join {
  text-transform: uppercase;
  background-color: var(--color-athletes-frontend);
  color: #000;
}

@media (min-width: 1200px) {
  .menu-btn {
    display: none;
  }

  .container-header {
    grid-template-columns: 12rem 1fr;
  }

  .main-navigation {
    transform: translate(0);
    position: unset;
    height: unset;
    display: grid;
    grid-template-columns: 1fr 15rem;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0;

    .btn {
      justify-self: end;
    }

    ul {
      height: unset;
      flex-direction: row;
      justify-content: center;

      > * + * {
        margin-left: 1em;
      }
    }
  }
}

.form {
  background-color: var(--color-home);
  border: 3px solid #000;
  padding: 3em;

  h1 {
    text-decoration: none;
  }

  .input-field {
    text-align: left;
    margin-bottom: 1em;
  }

  label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
    font-size: 1.25rem;
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    border: 0.2em solid #000;
  }

  .btn-submit {
    display: inline-block;
    margin-top: 1em;
    background-color: inherit;
    border: 0.2em solid #000;
    outline: none;

    &:hover {
      background-color: var(--color-athletes-frontend);
    }
  }
}
